
/*
    settings
*/
:root {
    --color1: #fffdfd;
    --color2: #1a7788;
    --color3: #e04257;
    --background-color: #c0d4dd;
}

body{
    margin: 0;
    background-color: var(--color1);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.active{
    color: var(--color3);
}

/*
Header
*/
header{
    height: 10em;
    background-color: var(--color1);
    width: 100%;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav {
    line-height: 7em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav div{
    float: left;
}

nav > div{
    margin-left: 0.2rem;
}

#nav-colored-box{
    position: relative;
    background-color: var(--color2);
    width: 1rem;
    height: 1rem;
    top: 2.8rem;
    left: 0.5rem;
}

#header-links{
    display: flex;
    height: 3rem;
    line-height: 3em;
    float: right;
    align-items: center;
    justify-content: space-around;
}

#header-links div{
    font-weight: bold;
    flex-basis: 7rem;
    text-align: center;
}

#header-links div:hover{
    cursor: pointer;
    color: var(--color3);
}

#nav-header-highlight{
    position: relative;
    top: -0.2rem;
    padding: 0 0.3rem 0 1.1rem;
    font-weight: bold;
    font-size: 1.6rem;
}


/*
main 
*/
main{
    position: relative;
    flex-grow: 1;
    display: grid;
}


/*
footer
*/
footer{
    position: relative;
    background-color: var(--color1);
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
}

#footer-container{
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    margin: 1rem 0 1rem 0;
}

#footer-container > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 8rem;
    margin: 0 1rem 0 1rem;
}

#footer-container > div > div{
    height: 1.5rem;
    line-height: 1.5rem;
}

#footer-bold{
    font-weight: bold;
}

#footer-socials-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#footer-icons{
    width: 1.6rem;
    height: 1.6rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#footer-icons:hover{
    cursor: pointer;
}

#footer-container-AGB a{
    padding-right: 0.8rem;
}

#footer-container-left div{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: center;
}

#footer-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
}


/*
media queries
*/

@media screen and (min-width:768px){
    
    header{
        height: 7em;
    }

    nav {
        flex-direction: row;
    }

    nav > div{
        margin-left: 1.5rem;
    }
    
    #header-links{
        height: 7rem;
        line-height: 7em;
        flex-grow: 1;
        padding-right: 2rem;
        justify-content: end;
    }
    
    footer {
        justify-content: space-between;
        flex-direction: row;
    
    }

    #footer-container-left div{
        justify-content: flex-start;
    }

    #footer-container-left{
        margin-top: 0rem;
    }
}