/*
Projects
*/
#main-projects{
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

body{
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#project-searchbar{
    height: 2rem;
    width: 15rem;
    align-self: center;
    border: 0;
    background-color: var(--color1);
    z-index: 2;
    padding: 0.2rem 1rem 0.2rem 1rem;
    box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.20);
    border-radius: 0.5rem;
}

#project-searchbar:focus {
    outline: none;
}

#project-searchbar:-ms-input-placeholder {
    color: var(--color1);
}

#project-searchbar::-ms-input-placeholder {
    color: var(--color1);
}

#projects-chips-container{
    display: flex;
    gap: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
}

.chips{
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: var(--color1);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    flex-basis: content;
    box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.20);
    z-index: 2;
}

.chips img.is-show {
    width: 1.4rem;
    transition: width 200ms ease-in-out 0ms;
}

.chips div{
    padding: 0rem 0.3rem 0rem 0.3rem;
}

.chips img{
    width: 0rem;
    transition: width 200ms ease-in-out 0ms;
}

#project-container{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project-card{
    background-color: var(--color1);
    width: 17rem;
    height: 22rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.20);
    z-index: 2;
}

.project-card > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    border-radius: 0.5rem;
}

.project-card > div > div:nth-child(1){
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.6rem;
}

.project-card > div > div:nth-child(2){
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: lighter;
    color: black;
    text-align: center;
}

.project-card img{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    object-fit: cover;
    height: 7rem;
}

.project-card-link{
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 1rem;
}

.project-card-link:hover{
    cursor: pointer;
}


@media screen and (min-width:768px){

    .project-card{
        width: 30rem;
        height: 15rem;
        flex-direction: row-reverse;
    }

    .project-card img{
        margin-left: auto;
        margin-bottom: 0;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        object-fit: cover;
        height: 15rem;
        width: 9rem;
    }

    .project-card > div > div:nth-child(1){
        text-align: left;
        padding-left: 1rem;
        width: 20rem;
    }

    .project-card > div > div:nth-child(2){
        text-align: left;
        padding-top: 0.6rem;
        padding-left: 1rem;
        padding-bottom: 0;
        width: 20rem;
    }

    .project-card-link{
        margin-bottom: 0.8rem;
        margin-right: 0.8rem;
        align-self: flex-end;
    }
    
}