#background{
    position: absolute;
    background-color: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: none;
}

main{
    width: 100%;
    display: grid;
    justify-items: center;
}

main > div{
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    padding: 0 2rem 2rem 2rem;
}

ul {
    padding-left: 1rem;
}

#canvas_container1{
    width: 20rem;
    height: 20rem;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    margin-top: 2rem;
}

#canvas_container1 canvas{
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}


.canvas_controls{
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
    border-top: none;
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    gap: 0.6rem;
}

.canvas_controls{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#controls_buttons{
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.canvas_controls button{
    width: 8rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.slidecontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slidecontainer div {
    margin-left: 1.5rem;
}

.slider{
    width: 10rem;
    margin-right: 1.5rem;
}

@media screen and (min-width:768px){    
    main > div{
        width: 80%;
        max-width: 55rem;
    }
}