#background{
    position: absolute;
    background-color: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
}

main{
    display: grid;
    justify-items: center;
}

main > div{
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text1{
    padding: 1rem 2rem 3rem 2rem;
}

#text2{
    padding: 1rem 2rem 10rem 2rem;
}




#canvas_container{
    width: 27rem;
    height: 27rem;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

#canvas_container canvas{
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.canvas_controls{
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
    border-top: none;
    height: 13rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    gap: 0.8rem;
}

.canvas_controls > div{
    display: flex;
    gap: 1rem;
}

#controls_fx{
    padding-left: 1rem;
}

#controls_fxn{
    padding-left: 1rem;
}

.canvas_controls input{
    width: 3rem;
}

.canvas_controls button{
    width: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#function_select{
    width: 5rem;
    text-align: center;
}

.MathJax_ref{
    color: black;
}

mjx-container.MathJax {
    pointer-events: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width:768px){    
    main > div{
        width: 80%;
        max-width: 55rem;
    }
}