#background{
    position: absolute;
    background-color: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: none;
}

main{
    display: grid;
    justify-items: center;
}

main > div{
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

#block1{
    padding: 0 2rem 2rem 2rem;
}

#block2{
    padding: 0 2rem 2rem 2rem;
}

#midpoint-line-picture{
    padding-top: 2rem;
}

#canvas_container{
    width: 20rem;
    height: 20rem;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    margin-top: 2rem;
}

#canvas_container canvas{
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.canvas_controls{
    background-color: white;
    border: 1px solid rgb(71, 71, 71);
    border-top: none;
    height: 4rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    gap: 0.6rem;
}

@media screen and (min-width:768px){    
    main > div{
        width: 80%;
        max-width: 55rem;
    }
}