#background{
    position: absolute;
    background-color: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: none;
}

main{
    display: grid;
    justify-items: center;
}

main > div{
    background-color: var(--color1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 1rem 2rem;
}



@media screen and (min-width:768px){    
    main > div{
        width: 80%;
        max-width: 55rem;
    }
}